* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: .3s;
}

body {
    /* background-color: #243662; */
}

#background {
    background-color: #243662;
    height: calc((100vh - 90px)*0.075);
    width: 100%;
}

header {
    background-color: #243662;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    /* height: 90px; */
}

header .logo {
    width: 200px;
}

header .logo-s {
    width: 10px;
}

header .auth {
    color: white;
}

header .auth a {
    /* background-color: #081D40; */
    /* transition: .3s; */
    padding: 8px 6px;
    margin: 0px 6px;
    /* border-radius: 16px; */
    position: relative;
    width: max-content;
    overflow: hidden;
}

header .auth a::before {
    content: "";
    position: absolute;
    left: -100%;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: .4s;
}

header .auth a:hover::before {
    left: 0;
}


main {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 0px;
    height: auto;
    margin-top: calc((100vh - 90px)*0.075);
    height: calc((100vh - 90px)*0.85);
}

main .banner {
    width: 15%;
    background-color: #243662;
}

main .container {
    width: 70%;
    border: 1px solid black;
}

main .container nav {
    display: flex;
    justify-content: center;
}

main .container nav button {
    width: 25%;
    padding: 12px;
    background-color: #337691;
    border: 1px solid rgb(152, 152, 152);
    box-shadow: 0;
    color: white;
    font-size: 14px;
    transition: .3s;
}

main .container nav .active {
    background-color: #081D40;
}

main .container nav button:hover {
    background-color: #081D40;
}

main .container .content {
    position: relative;
    height: calc(100% - 43px);
}

main .container .content .item {
    display: none;
    height: 100%;
}

main .container .content .show {
    display: block;
}

main .container .content .item iframe{
    height: 100%;
}

main .container .content #full-screen-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    box-sizing: none;
    border: 0px;
    padding: 0px;
    background-color: transparent;
    color: black;
}

main .container .content #full-screen-btn svg {
    fill: black;
}

main .container .content .item:fullscreen {
    width: 100vw;
    height: 100vh;
}

/* Small */
@media screen and (max-width: 576px) {
    header picture .logo {
        width: 50px;
    }
}

/* Medium */
@media screen and (max-width: 768px) {
    main .banner {
        display: none;
    }

    main .container {
        width: 100%;
        margin: 12px;
    }
}

/* Large */
@media screen and (max-width: 992px) {}