<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/accounts.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <a href="#"><img class="logo" src="../static/images/logo.png" alt="Logo"></a>
    </header>
    <main>
        <section class="banner"></section>
        
        <section class="container">
            
        </section>

        <section class="banner"></section>
    </main>
</body>
<script src="../static/accounts.js"></script>

</html>