<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Book-homepage</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <script src="../static/homepage.js" defer></script>
</head>

<body>
    <header>
        <a href="#">
            <img id="logo" src="../static/images/logo.png" alt="UofT Logo">
        </a>
        <div class="auth">
            <a href="#">Sign Up</a>
            <a href="#">Log In</a>
        </div>
    </header>

    <main>
        <section class="banner"></section>
        <section class="container">
            <nav>
                <button id="map-btn" class="active">map</button>
                <button id="all-schedules-btn">room schedules</button>
                <button id="my-schedule-btn">my schedule</button>
                <button id="services-btn">services</button>
            </nav>
            <div class="content">
                <div class="item show" id="map-container"></div>
                <div class="item" id="all-schedules-container"></div>
                <div class="item" id="my-schedule-container"></div>
                <div class="item" id="services-container"></div>
                <button id="full-screen-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                        class="bi bi-fullscreen" viewBox="0 0 16 16">
                        <path
                            d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5M.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5" />
                    </svg>
                </button>
            </div>
        </section>
        <section class="banner"></section>
    </main>

    <footer></footer>
</body>

</html>