<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Book-homepage</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <script src="../static/homepage.js" defer></script>
</head>

<body>
    <header>
        <a href="#">
            <picture>
                <!-- this is for small screen -->
                <source srcset="../static/images/logo_small.png" media="(max-width: 576px)">
                <!-- this is the default when screen is larger than 576px -->
                <img class="logo" src="../static/images/logo.png" alt="UofT Logo">
            </picture>
        </a>
        {% if student_number == -1 %}
        <div class="auth">
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        </div>
        {% else %}
        <div class="auth">
            <a href="/logout">Log Out</a>
        </div>
        {% endif %}
    </header>

    <main>
        <section class="banner"></section>
        <section class="container">
            <nav>
                <button id="map-btn" class="active">map</button>
                <button id="all-schedules-btn">room schedules</button>
                <button id="my-schedule-btn">my schedule</button>
                <button id="services-btn">food spots</button>
            </nav>
            <div class="content">
                <div class="item show" id="map-container">
                    <iframe src="map.html" title="The Map" width="100%"> </iframe>
                </div>
                <div class="item" id="all-schedules-container">
                    <iframe id = "all_iframe" src="schedules" title="All Schedules" width="100%"> </iframe>
                </div>
                <div class="item" id="my-schedule-container">
                    <iframe id = "my_iframe" src="my-schedule" title="My Schedule" width="100%"> </iframe>
                </div>
                <div class="item" id="services-container">
                    <iframe src="services.html" title="Services" width="100%"> </iframe>
                </div>

                <button id="full-screen-btn">
                    <svg id="full-screen-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-fullscreen" viewBox="0 0 16 16">
                        <path
                            d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5M.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5" />
                    </svg>

                    <svg id="close-full-screen-svg" style="display: none;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </button>
            </div>
        </section>
        <section class="banner"></section>
    </main>

    <footer></footer>
</body>

</html>