<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedules</title>
    <link rel="stylesheet" href="../static/schedules.css">
    <script src="../static/schedules.js" defer></script>
</head>

<body>
    
    <h1>
        {% if mode == "all" %}
        All Class Schedules
        {% else %}
        My Schedule
        {% endif %}
    </h1>

    <div class="view-tabs">
        <button id="table-view-btn" class="active">Table View</button>
        <button id="weekly-view-btn">Weekly Timetable</button>
    </div>

    <div id="table-view" class="table-container">

        <table>
            <tr>
                <th>Course</th>
                <th>Section</th>
                <th>Instructor</th>
                <th>Room</th>
                <th>Day</th>
                <th>Time</th>
            </tr>

            {% for row in schedules %}
            <tr>
                <td>{{ row.dept }}{{ row.code }}</td>
                <td>{{ row.section }}</td>
                <td>{{ row.instructor }}</td>
                <td>{{ row.building_name }}</td>
                <td>{{ row.day }}</td>
                <td>{{ row.start_time }} - {{ row.end_time }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="weekly-view" class="table-container" style="display:none;">
        <div id="weekly-schedule">
            <!-- Weekly timetable injected by JS -->
        </div>
    </div>

    
</body>

</html>